# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Mac/Linux/Windows
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment files
.env